@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    background-color: hsl(0, 0%, 100%);
    min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    flex-direction: column;
 }
 

main {
    background: hsl(0, 0%, 100%);
    border-radius: 30px;
    box-shadow: 15px 15px 15px 15px rgba(230, 241, 248, 0.479);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80vh;
    height: 60vh;
 }

.result {
    display: flex;
    background: linear-gradient(0deg, rgba(46, 13, 233, 0.979) 37%, rgb(118, 87, 255) 100%);
    min-height: 55vh;
    width: 40vh;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 40px;
    border-radius: 30px;
}

.result p:first-child {
    font-size: 20px;
    color: hsl(241, 100%, 89%);
    padding-bottom: 40px;
    font-weight: 600;
}


 .resultColor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(46, 13, 233, 0.678);
    padding: 15px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    font-size: 30px;
 }

.result100 {
    font-weight: 700;
    font-size: 17px;
    color: hsla(241, 100%, 89%, 0.733);
}

.textResult {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.textResult p {
    font-size: 18px;
    color: hsl(241, 100%, 89%);
    padding-top: 20px;
}

.section {
    height: 55vh;
    width: 40vh;
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 40px;
    border-radius: 10px;
    font-weight: 700;
}

.summary { 
    font-size: 20px;
    color: hsl(224, 30%, 27%);
    font-weight: 800;
}

.reaction {
    display: flex;
    padding-top: 10px;
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.075);
    padding: 15px;
    border-radius: 5px;
    border: hsla(0, 100%, 67%, 0.692);
    border-left-style: groove;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: space-between;
}


.imgTextReaction {
    display: flex;
}

.imgTextReaction p {
    padding-left: 10px;
}

.reaction100 {
    color: hsla(224, 30%, 27%, 0.541);
}

.reaction100 strong {
    color: black;
}

.memory {
    display: flex;
    padding-top: 10px;
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.075);
    padding: 15px;
    border-radius: 5px;
    border: hsla(39, 100%, 56%, 0.692);
    border-left-style: groove;
    margin-bottom: 20px;
    justify-content: space-between;
}

.imgTextMemory {
    display: flex;
}

.imgTextMemory p {
    padding-left: 10px;
}

.memory100 {
    color: hsla(224, 30%, 27%, 0.541);
}

.memory100 strong {
    color: black;
}

.verbal {
    display: flex;
    padding-top: 10px;
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.075);
    padding: 15px;
    border-radius: 5px;
    border: hsla(166, 100%, 37%, 0.692);
    border-left-style: groove;
    margin-bottom: 20px;
    justify-content: space-between;
}

.imgTextVerbal {
    display: flex;
}

.imgTextVerbal p {
    padding-left: 10px;
}

.verbal100 {
    color: hsla(224, 30%, 27%, 0.541);
}

.verbal100 strong {
    color: black;
}

.visual {
    display: flex;
    padding-top: 10px;
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.075);
    padding: 15px;
    border-radius: 5px;
    border: hsla(234, 85%, 45%, 0.692);
    border-left-style: groove;
    margin-bottom: 55px;
    justify-content: space-between;
}

.imgTextVisual {
    display: flex;
}

.imgTextVisual p {
    padding-left: 10px;
}

.visual100 {
    color: hsla(224, 30%, 27%, 0.541);
}

.visual100 strong {
    color: black;
}

.continue {
    outline: none;
    text-decoration: none;
    color: white;
    padding: 15px 100px 15px 100px;
} 

.button {
    background: rgb(46,13,233);
    padding: 15px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    text-align: center;
    width: 100%;
    font-size: 18px;
<<<<<<< HEAD
    
}

.button:hover {
    background: hsl(224, 30%, 27%);
    transition: all .3s;
    cursor: pointer;
}

@media (max-width: 700px) {
    body {
        min-height: 100%;
    }

    main {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    .result {
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .section {
        width: 100%;
        height: 90%;
    }

    .visual {
        margin-bottom: 30px;
    }

    .textResult {
        padding-left: 20px;
        padding-right: 20px;
    }
}
=======
    margin-top: 15px;
    cursor: pointer;
    transition: all .4s ease-out;
    outline: none;
    text-decoration: none;
}
>>>>>>> 851241d01da9ea844acaf04adfd7e7f29dc89232
