@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
 }
 

main {
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 15px 15px 15px 15px rgba(230, 241, 248, 0.479);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 85vh;
    height: 50vh;
 }

.result {
    background: rgb(46,13,233);
    background: linear-gradient(0deg, rgba(46,13,233,1) 37%, rgb(118, 87, 255) 100%);
    height: 100%;
    width: 50%;
    text-align: center;
    color: white;
    padding: 10px;
    margin-right: 30px;
    border-radius: 10px;
}
 .resultColor {
    background: radial-gradient(circle closest-side,rgba(46, 13, 233, 0.678) 100%, hsla(241, 72%, 46%, 0) 100%);
    margin-top: 4vh;
    height: 165px; 
    position: fixed;
    width: 230px;
    margin-left: 65px;
 }

.insideResult {
    font-size: 30px;
    margin-top: 27px;
}

.result100 {
    font-size: 15px;
    color: hsl(241, 100%, 89%);
}

.textResult {
    margin-top: 25vh;
}

.textResult p {
    padding: 20px 50px 0px 50px;
    font-size: 18px;
    color: hsl(241, 100%, 89%);
}

.result p:first-child {
    margin-top: 3vh;
    font-size: 18px;
    color: hsl(241, 100%, 89%);
}

.section {
    height: 100%;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    padding-right: 40px;
}

.summary {
    margin-top: 3vh;
    font-size: 18px;
    color: hsl(224, 30%, 27%);
    font-weight: 700;
}

.reaction {
    display: flex;
    padding-top: 10px;
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.075);
    padding: 15px;
    border-radius: 5px;
    border: hsla(0, 100%, 67%, 0.692);
    border-left-style: groove;
    margin-top: 30px;
    margin-bottom: 20px;
}

.reactionText {
    padding-left: 10px;
    font-weight: 600;
}

.reaction80 {
    padding-left: 95px;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}

.reaction100 {
    padding-left: 7px;
    font-weight: 700;
    color: hsla(224, 30%, 27%, 0.541);
}

.memory {
    display: flex;
    padding-top: 10px;
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.075);
    padding: 15px;
    border-radius: 5px;
    border: hsla(39, 100%, 56%, 0.692);
    border-left-style: groove;
    margin-bottom: 20px;
}

.memoryText {
    padding-left: 10px;
    font-weight: 600;
}

.memory92 {
    padding-left: 97px;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}

.memory100 {
    padding-left: 7px;
    font-weight: 700;
    color: hsla(224, 30%, 27%, 0.541);
}

.verbal {
    display: flex;
    padding-top: 10px;
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.075);
    padding: 15px;
    border-radius: 5px;
    border: hsla(166, 100%, 37%, 0.692);
    border-left-style: groove;
    margin-bottom: 20px;
}
.verbalText {
    padding-left: 10px;
    font-weight: 600;
}
.verbal61 {
    padding-left: 110px;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}

.verbal100 {
    padding-left: 7px;
    font-weight: 700;
    color: hsla(224, 30%, 27%, 0.541);
}

.visual {
    display: flex;
    padding-top: 10px;
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.075);
    padding: 15px;
    border-radius: 5px;
    border: hsla(234, 85%, 45%, 0.692);
    border-left-style: groove;
    margin-bottom: 20px;
}

.visualText {
    padding-left: 10px;
    font-weight: 600;
}

.visual72 {
    padding-left: 113px;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}

.visual100 {
    padding-left: 7px;
    font-weight: 700;
    color: hsla(224, 30%, 27%, 0.541);
}

.button {
    cursor: pointer;
    transition: all .4s ease-out;
    outline: none;
    text-decoration: none;
    color: white;
    padding: 15px 100px 15px 100px;
} 

.continue:hover {
    background: hsl(224, 30%, 27%);
}

.continue {
    background: rgb(46,13,233);
    background: linear-gradient(0deg, rgba(46,13,233,1) 37%, rgb(104, 87, 255) 100%);
    padding: 15px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    text-align: center;
    width: 340px;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .4s ease-out;
    outline: none;
    text-decoration: none;
}
